<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.community.dao.AlphaDao">


    <select id="select" resultType="String">
        select content
        from comment
        where id = 100
    </select>




</mapper>